@{
    Layout = "~/Views/Shared/_Layout_basic.cshtml";
    ViewBag.Title = "ForgetPassword";
}
<main>

    <!-- main content -->
    <div class="main-container app-wow">

        <div class="container h-100">
            <div class="row align-items-center h-100">
                <div class="col-12 mx-auto">
                    <div class="py-8">
                        <div class="auth-box">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="d-flex align-items-center justify-content-center warning-gradient text-secondary px-4 py-6 h-100">
                                        <div class="text-center">
                                            <h5 class="text-uppercase">Forgot Password</h5>
                                            <h1 class="text-uppercase display-8">Blooming Garden</h1>
                                            <span class="lead-1 fw-400">Admin Panel</span>
                                        </div>
                                    </div>
                                </div>
                                <div id="forgot" class="col-md-7">
                                    <div class="px-4 pr-md-7 py-6 pl-md-0">
                                        <h4 class="mb-6 text-light">Forgot Password</h4>
                                        <div>
                                            <form id="forgotPasswordForm" method="post" class="input-light">
                                                <div>
                                                    <p class="fw-500">Enter your email address and we will send your password on your provided email.</p>
                                                </div>
                                                <div class="form-group input-group">
                                                    <input type="email" class="form-control" name="Email" id="Email" required="required" placeholder="Please enter your email address">
                                                </div>
                                                <div class="form-group mt-6">
                                                    <button id="ForgotPassword" class="btn btn-block btn-warning" type="submit">Forgot Password</button>
                                                </div>
                                                <div>
                                                    <span onclick="history.back()" class="btn btn-sm fw-600 pl-0"><i class="fas fa-arrow-left mr-1"></i>Back</span>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div id="message" class="col-md-6 m-7" style="display:none;">
                                    <div class="px-2 pr-md-2 py-2 pl-md-2">
                                        <h4 class="mb-6 text-light">Password has been successfully sent to your email.</h4>
                                    </div>
                                    <div>
                                        <a href="/login" class="btn btn-sm fw-600 pl-0"><i class="fas fa-arrow-left mr-1"></i>Login</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<script type="text/javascript">
    $(document).ready(function () {
        $("#ForgotPassword").click(function () {
            $("#forgotPasswordForm").submit(function (e) {
                $("#ForgotPassword").attr("disabled", "disabled");
                var email = $("#Email").val();
                $.ajax({
                    type: "GET",
                    url: "/authentication/forgotpasswordemail?email=" + email
                })
                    .done(function (data) {
                        if (data.Success) {
                            toastr.success(data.Message);
                        }
                        else {
                            toastr.error(data.Message);
                        }
                        $("#forgot").css("display", "none");
                        $("#message").css("display", "block");

                    });
                e.preventDefault();
            });
        });
    });
</script>