<!-- footer -->
<footer id="footer" class="footer">
    <div class="container-fluid">
        <div class="row gutters-y align-items-center">
            <div class="col-md-6 col-lg-5">
                <div class="px-3 fw-400">
                    © 2020 Blooming Garden.
                    All rights reserved
                </div>
            </div>
            <div class="col-md-6 col-lg-7 order-lg-last d-none d-md-block">
                <div class="nav nav-bold-style justify-content-end text-uppercase px-2">
                    <a class="nav-link" href="#">Terms of use</a>
                    <a class="nav-link" href="#">Privacy Policy</a>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- /.footer -->