@using Framework.Web.CommonCode.Helpers
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Blooming Garden</title>

    <!-- CSS -->
    <link href="~/content/assets/css/fonts/fontawesome/all.min.css" rel="stylesheet">
    <link href="~/content/assets/css/fonts/beid.css" rel="stylesheet">

    <link href="~/content/assets/css/main.css" rel="stylesheet">
    <link href="~/content/assets/css/styles.css" rel="stylesheet">

    <!-- Favicons -->
    <link rel="apple-touch-icon" href="~/content/assets/img/apple-touch-icon.png">
    <link rel="icon" href="~/content/assets/img/favicon.png">

    <!-- Fonts -->
    <link href="~/content/assets/fonts/inter/inter.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- preloader -->
    <div class="preloaderWrapper"></div>

    <!-- jQuery -->
    <script src="~/content/assets/js/jquery.min.js"></script>

    <!-- Bootstrap -->
    <script src="~/content/assets/js/bootstrap.min.js"></script>

    <!-- User JS -->
    <script src="~/content/assets/js/scripts.js"></script>

    <!-- Main JS -->
    <script src="~/content/assets/js/main.js" id="_mainJS" data-plugins="load"></script>

    <!-- Modules -->
    <script src="~/content/assets/js/modules.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" />
</head>
<body class="body">
    @RenderBody()
</body>
</html>
